@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    .top {
        font-size: 50px;
        font-weight: bold;
    }

    .hello_table {
        margin-left: auto;
        margin-right: auto;
        width: 95%;
    }

        .hello_table td:nth-child(2) {
            text-align: right;
        }

    .mid {
    }

    .info_table {
        padding-top: 80px;
        margin-left: auto;
        margin-right: auto;
        width: 95%;
        text-align: left;
    }

        .info_table th {
            padding-bottom: 15px;
        }

        .info_table td {
            padding-top: 10px;
            padding-bottom: 10px;
            vertical-align: middle;
            font-size: 17px;
            color: gray;
        }

    .bottom {
        text-align: right;
        padding-top: 50px;
    }

    .Add_a_new_employee {
        margin-right: 3%;
    }

    button {
        background-color: #d7d7db;
        border: none;
        color: black;
        padding: 12px 26px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<div class = "Admin_Page">
  <div class = "top">
    <table class = "hello_table">
      <tr>
        <td> Hello, [Admin Name] </td>
        <td> ##:## </td>
      </tr>
    </table>
  </div>
  <div class = "mid">
    <table class = "info_table">
      <colgroup>
        <col span="1" style="width: 17%;">
        <col span="1" style="width: 17%;">
        <col span="1" style="width: 17%;">
        <col span="1" style="width: 17%;">
        <col span="1" style="width: 18%;">
        <col span="1" style="width: 14%;">
      <tr>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Role</th>
        <th>Remove Employee</th>
        <th>Change Employee Role</th>
      </tr>
      <tr>
        <td>harzuman</td>
        <td>Hayk</td>
        <td>Arzumanyan</td>
        <td>Admin</td>
        <td><button class = "remove">REMOVE</button></td>
        <td><button class = "change_role">CHANGE ROLE</button></td>
      </tr>
    </table>
  </div>
  <div class = "bottom">
    <button class = "Add_a_new_employee">ADD A NEW EMPLOYEE</button>
  </div>
</div>