<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRAS</title>
    <link rel="stylesheet" href="~/lib/rewire.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylus/dist/new.css" asp-append-version="true" />
    <!--Need css for navbar layout. Temp classes in elements-->
    <!--Temp script for for navbar-->
    <style>
        .navbar {
            display: flex;
            position: relative;
            align-items: center;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        .home-logo {
            margin-right: 25%;
        }

        .nav-logout {
            padding-left: 10%;
        }

        .nav-link {
            text-align: center;
            margin: 0 20px 0 20px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <div class="home-logo">
                    <a asp-controller="HomePage" asp-action="Index">
                        <img src="~/images/GSHAImg.jpg" />
                    </a>
                </div>
                <div class="nav-link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">SEARCH</a>
                </div>
                <div class="nav-link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">CHECK IN</a>
                </div>
                <div class="nav-link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">DIAGNOSIS WIZARD</a>
                </div>
                <div class="nav-link">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">INVENTORY</a>
                </div>
                <div class="nav-logout">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">LOGOUT</a>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="container">
            &copy; 2023 - HRAS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

