<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRAS</title>
    <link rel="stylesheet" href="~/lib/rewire.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylus/dist/new.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav>
            <div>
                <!--All buttons will move to warning page for now.-->
                <!--Logo that goes to home page-->
                <a asp-controller="Login" asp-action="WarningPage">
                    <img class="" src="~/images/GSHAImg.jpg" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Create section with space for other buttons for -->
                <div>
                    <!--Use list or table to seperate buttons-->
                    <ul>
                        <!--Search button-->
                        <li></li>
                        <!--Check in buttton-->
                        <li></li>
                        <!--Diagnosis wizard button-->
                        <li></li>
                        <!--Inventory button-->
                        <li></li>
                        <!--Add space for logout button-->
                        <li></li>
                        <!--Logout button-->
                        <li></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="container">
            &copy; 2023 - HRAS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

