<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRAS</title>
    <link rel="stylesheet" href="~/lib/rewire.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylus/dist/new.css" asp-append-version="true" />
    <!--Need css for navbar layout. Temp classes in elements-->
    <!--Temp script for for navbar-->
    <style>
        .nav-pills .nav-link .active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }
        .nav-logout {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <header>
        <nav>
            <div>
                <!--All buttons will move to warning page for now. Links will be updated as pages are created.-->
                <!--Logo that goes to home page-->
                <a asp-controller="Login" asp-action="WarningPage">
                    <img class="" src="~/images/GSHAImg.jpg" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Create section with space for other buttons for -->
                <div>
                    <!--Use list or table to seperate buttons-->
                    <ul>
                        <!--Search button-->
                        <li class="nav-item">
                            <a class ="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">SEARCH</a>
                        </li>
                        <!--Check in buttton-->
                        <li class="nav-item">
                            <a class ="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">CHECK IN</a>
                        </li>
                        <!--Diagnosis wizard button-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">DIAGNOSIS WIZARD</a>
                        </li>
                        <!--Inventory button-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">INVENTORY</a>
                        </li>
                    </ul>
                </div>
                <!--Add space for logout button-->
                <div>
                    <!--Logout button-->
                    <li class="nav-logout">
                        <a class ="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">LOGOUT</a>
                    </li>                   
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="container">
            &copy; 2023 - HRAS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

