<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HRAS</title>
    <link rel="stylesheet" href="~/lib/rewire.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/stylus/dist/new.css" asp-append-version="true" />
    <!--Need css for navbar layout. Temp classes in elements-->
    <!--Temp script for for navbar-->
    <style>
        .nav-pills .active, .nav-pills .show > .nav-link {
            color: #fff;
            background-color: #1b6ec2;
            border-color: #1861ac;
        }

        .nav-link {
            padding: 0 40px 0 20px;
        }

        .nav-logout {
            margin-left: 50px;
        }

        .navbar-collapse {
            flex-basis: 100%;
            flex-grow: 1;
            align-items: center;
        }

        .navbar {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

            .navbar > .container,
            .navbar > .container-fluid,
            .navbar > .container-sm,
            .navbar > .container-md,
            .navbar > .container-lg,
            .navbar > .container-xl,
            .navbar > .container-xxl {
                display: flex;
                flex-wrap: inherit;
                align-items: center;
                justify-content: space-between;
            }

        .navbar-expand-sm {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }

            .navbar-expand-sm .navbar-nav {
                flex-direction: row;
            }

    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!--All buttons will move to warning page for now. Links will be updated as pages are created.-->
                <!--Logo that goes to home page-->
                <a asp-controller="HomePage" asp-action="Index">
                    <img class="" src="~/images/GSHAImg.jpg" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--Create section with space for other buttons for -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <!--Use list or table to seperate buttons-->
                    <!--Search button-->
                    <div class="nav-link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">SEARCH</a>
                    </div>
                    <!--Check in buttton-->
                    <div class="nav-link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">CHECK IN</a>
                    </div>
                    <!--Diagnosis wizard button-->
                    <div class="nav-link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">DIAGNOSIS WIZARD</a>
                    </div>
                    <!--Inventory button-->
                    <div class="nav-link">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">INVENTORY</a>
                    </div>
                </div>
                <!--Add space for logout button-->
                <div>
                    <!--Logout button-->
                    <li class="nav-logout">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="WarningPage">LOGOUT</a>
                    </li>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="">
        <div class="container">
            &copy; 2023 - HRAS - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
