form {
    {fill-width}
    {col-flex}
    } .input-group {
        {fill-width}
        {row-flex}
        margin: .9375rem 0
        input, .input-addon {
            {input-element}
            padding: 0 .9375rem
        } .input-addon {
            max-width: 3rem
        }
    } textarea {
		{input-element}
		padding: .9375rem
		min-height: 14rem !important
    }
