
@{
}

<div class="Assign_To_Patient">
    <div class="item_info">
        <table class="item_table">
            <tr>
                <td>item_name</td>
                <td>xN</td>
            </tr>
        </table>
    </div>
    <div class="summary">
        <table class="summary_table">
            <tr>
                <td>These items were added to [person's] Bill</td>
            </tr>
            <tr>
                <td>
                    <button class="finish_deploying">Finish Deploying</button>
                </td>
            </tr>
        </table>
    </div>
</div>