@{
	ViewData["Title"] = "Inventory";
}

<style>
	body {
		margin: 0px;
	}

	.inventory_page {
		margin-top: 50px;
	}

	.inventory {
		display: inline-block;
		width: 80%;
	}


	.first_row {
		height: 50px;
	}

	.search input {
		font-size: 20px;
		padding-left: 20px;
		height: 35px;
		border: 1px solid rgba(0,0,0,0.3);
	}

	.search_table {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

		.search_table td {
			font-size: 20px;
			color: gray;
		}

	.quantity {
		width: 5%;
	}

	.id_box {
		width: 85%;
	}

	.name_box {
		width: 85%;
	}

	.quantity_box {
		width: 65%;
	}

	.add_item {
		padding: 20px;
		text-align: right;
		padding-right: 5%;
	}

	.add_another_item {
		background-color: #d7d7db;
		border: none;
		color: black;
		padding: 10px 30px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
	}

	.information {
		margin-top: 50px;
	}

	.info_table {
		margin-left: 10%;
		margin-right: 10%;
		text-align: left;
	}

		.info_table th {
			font-size: 18px;
			padding-bottom: 10px;
		}

		.info_table td {
			color: gray;
			padding-top: 10px;
			padding-bottom: 10px;
		}

	.item_id {
		width: 15%;
	}

	.item_name {
		width: 30%;
	}

	.item_price {
		width: 15%;
	}

	.item_stock_count {
		width: 40%;
	}

	.item_deploy {
		width: 20%;
	}

	.deploy {
		background-color: #d7d7db;
		border: none;
		color: black;
		padding: 10px 40px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 15px;
		cursor: pointer;
		font-weight: bold;
	}

	.patients_cart {
		background-color: grey;
		display: inline-block;
		width: 20%;
		height: 100%;
		vertical-align: top;
	}

	.cart {
		margin-left: auto;
		margin-right: auto;
		/*width: 80%;*/
		padding-left: 10%;
		height: 400px;
		color: white;
		overflow: scroll;
		overflow-x: hidden;
	}

	.patients_cart td {
		font-size: 30px;
		width: 135px
	}

		.patients_cart td:nth-child(2) {
			text-align: right;
		}

	.patients_cart_text {
		font-size: 40px;
		text-align: center;
	}

	.assign_to_patient {
		text-align: center;
	}

	.assign {
		background-color: black;
		border: none;
		color: white;
		padding: 15px 35px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		cursor: pointer;
		box-shadow: 0 4px #999;
		border-radius: 4px;
		margin: 5%;
	}
</style>
<div class=inventory_page>
	<div class=inventory>
		<div class=search>
			<table class=search_table>
				<tr class=first_row>
					<td>PRODUCT ID</td>
					<td>NAME </td>
					<td>QUANTITY</td>
				</tr>
				<tr>
					<td>
						<input class=id_box type="text">
					</td>
					<td>
						<input class=name_box type="text">
					</td>
					<td class=quantity>
						<input class=quantity_box type="text">
					</td>
				</tr>
			</table>
		</div>
		<div class=add_item>
			<button class=add_another_item>
				ADD ANOTHER ITEM
			</button>
		</div>
		<div class=information>
			<table class=info_table>
				<tr>
					<th class=item_id>Item ID</th>
					<th class=item_name>Name</th>
					<th class=item_price>Price</th>
					<th class=item_stock_count>Stock Count</th>
					<th class=item_deploy>Deploy</th>
				</tr>
				<tr>
					<td>######</td>
					<td>ABCDEF</td>
					<td>$</td>
					<td>###</td>
					<td><button class=deploy>Deploy</button></td>
				</tr>
				<tr>
					<td>######</td>
					<td>GHIJKL</td>
					<td>$</td>
					<td>###</td>
					<td><button class=deploy>Deploy</button></td>
				</tr>
			</table>
		</div>
	</div><div class=patients_cart>
		<h1 style="color:white">Patients Cart</h1>
		<div class="cart">
			<table>
				<tr>
					<td> Item </td>
					<td> x1 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x2 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x3 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x4 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x5 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x6 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x7 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x8 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x9 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x10 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x11 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x12 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x13 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x14 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x15 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x16 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x17 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x18 </td>
				</tr>
				<tr>
					<td> Item </td>
					<td> x19 </td>
				</tr>
			</table>
		</div>
		<div class=assign_to_patient>
			<button class=assign>ASSIGN TO PATIENT</button>
		</div>
	</div>
</div>

