@*

*@
@{
    <div id=inventory_page>
        <div id=inventory>
            <div id=search>
                <table id=search_table>
                    <tr id=first_row>
                        <td>PRODUCT ID</td>
                        <td>NAME </td>
                        <td>QUANTITY</td>
                    </tr>
                    <tr>
                        <td>
                            <input id=id_box type="text">
                        </td>
                        <td>
                            <input id=name_box type="text">
                        </td>
                        <td id=quantity>
                            <input id=quantity_box type="text">
                        </td>
                    </tr>
                </table>
            </div>
            <div id=add_item>
                <button id=add_another_item>
                    ADD ANOTHER ITEM
                </button>
            </div>
            <div id=information>
                <table id=info_table>
                    <tr>
                        <th id=item_id>Item ID</th>
                        <th id=item_name>Name</th>
                        <th id=item_price>Price</th>
                        <th id=item_stock_count>Stock Count</th>
                        <th id=item_deploy>Deploy</th>
                    </tr>
                    <tr>
                        <td>######</td>
                        <td>ABCDEF</td>
                        <td>$</td>
                        <td>##</td>
                        <td><button id=deploy>Deploy</button></td>
                    </tr>
                </table>
            </div>
        </div><div id=patients_cart>
            <div id=lists>
                <table id=cart>
                    <tr>
                        <th colspan="2" id=patients_cart_text>Patients Cart</th>
                    </tr>
                    <tr>
                        <td> Item </td>
                        <td> x1 </td>
                    </tr>
                </table>
            </div>
            <div id=assign_to_patient>
                <button id=assign>ASSIGN TO PATIENT</button>
            </div>
        </div>
    </div>
}
