@{


}

<div id=search_page>
    <div id=search_bar>
        <div id=search_box>
            <table id=search_table>
                <td>
                    <input id=box1 type="text" placeholder="Search by Name">
                </td>
                <td>
                    <input id=box2 type="text" placeholder="Search by Last Name">
                </td>
                <td>
                    <input id=box3 type="text" placeholder="Search by SSN">
                </td>
                <td>
                    <input id=box4 type="text" placeholder="Search by Room #">
                </td>
            </table>
        </div>
        <div id=find_button>
            <button id=button> Find </button>
        </div>
    </div>
    <div id=search_info>
        <div id=first_search_info>
            <table id=first_info_table>
                <tr>
                    <td id="first_row">Last Name: </td>
                    <td>First Name: </td>
                </tr>
                <tr>
                    <td>Middle Initial: </td>
                    <td>DOB: </td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td>Organ Donor:</td>
                </tr>
                <tr>
                    <td>DNR Status:</td>
                </tr>
        </div>
        <div id=second_search_info>
            <table id=second_info_table>
                <tr>
                    <td>Street Address 1:</td>
                    <td>Street Address 2:</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>State:</td>
                </tr>
                <tr>
                    <td>ZIP:</td>
                </tr>
            </table>
        </div>
    </div>
</div>
