@{
    ViewData["Title"] = "Search Patient";
}

<style>
    .search_box input {
        font-size: 20px;
        padding-left: 20px;
        width: 300px;
        height: 40px;
        background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
        background-repeat: no-repeat;
        background-position: right center;
        border: 1px solid rgba(0,0,0,0.3);
    }

    .search_table {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
        text-align: center;
    }

    .find_button {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 60px;
    }

    .search_button {
        background-color: black;
        border: none;
        color: white;
        padding: 10px 35px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    .search_info {
        padding-top: 60px;
        background-color: #B9B6B7;
        position: relative;
    }


    .first_info_table, .second_info_table {
        font-weight: bold;
        width: 87%;
        margin-left: auto;
        margin-right: auto;
    }

    .search_info td {
        padding: 20px;
    }

    .first_row {
        width: 50%
    }

    .second_info_table {
        border-top: 1px solid black;
    }

    .first_info_table {
        padding-bottom: 30px;
    }
</style>

<div class="search_page">
    <div class="search_bar">
        <div class="search_box">
            <table class="search_table">
                <tr>
                    <td>
                        <input class="box1" type="search" placeholder="Search by First Name">
                    </td>
                    <td>
                        <input class="box2" type="search" placeholder="Search by Last Name">
                    </td>
                    <td>
                        <input class="box3" type="search" placeholder="Search by SSN">
                    </td>
                    <td>
                        <input class="box4" type="search" placeholder="Search by Room #">
                    </td>
                </tr>
            </table>
        </div>
        <div class="find_button">
            <button class="search_button"> Find </button>
        </div>
    </div>
    <div class="search_info">
        <div class="first_search_info">
            <table class="first_info_table">
                <tr>
                    <td class="first_row">Last Name: </td>
                    <td>First Name: </td>
                </tr>
                <tr>
                    <td>Middle Initial: </td>
                    <td>DOB: </td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td>Organ Donor:</td>
                </tr>
                <tr>
                    <td>DNR Status:</td>
                </tr>
            </table>
        </div>
        <div class="second_search_info">
            <table class="second_info_table">
                <tr>
                    <td>Street Address 1:</td>
                    <td>Street Address 2:</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>State:</td>
                </tr>
                <tr>
                    <td>ZIP:</td>
                </tr>
            </table>
        </div>
    </div>
</div>
