@{
    ViewData["Title"] = "Search Patient";
}

<div class="search_page">
    <div class="search_bar">
        <div class="search_box">
            <table class="search_table">
                <tr>
                    <td>
                        <input class="box1" type="search" placeholder="Search by First Name">
                    </td>
                    <td>
                        <input class="box2" type="search" placeholder="Search by Last Name">
                    </td>
                    <td>
                        <input class="box3" type="search" placeholder="Search by SSN">
                    </td>
                    <td>
                        <input class="box4" type="search" placeholder="Search by Room #">
                    </td>
                </tr>
            </table>
        </div>
        <div class="search_find_button">
            <button class="search_button"> Find </button>
        </div>
    </div>
    <div class="search_info">
        <div class="first_search_info">
            <table class="first_info_table">
                <tr>
                    <td class="search_first_row">Last Name: </td>
                    <td>First Name: </td>
                </tr>
                <tr>
                    <td>Middle Initial: </td>
                    <td>DOB: </td>
                </tr>
                <tr>
                    <td>Sex:</td>
                    <td>Organ Donor:</td>
                </tr>
                <tr>
                    <td>DNR Status:</td>
                </tr>
            </table>
        </div>
        <div class="second_search_info">
            <table class="second_info_table">
                <tr>
                    <td>Street Address 1:</td>
                    <td>Street Address 2:</td>
                </tr>
                <tr>
                    <td>City:</td>
                    <td>State:</td>
                </tr>
                <tr>
                    <td>ZIP:</td>
                </tr>
            </table>
        </div>
    </div>
</div>
