$sizeNum = 4

$xsmall = 0.75rem
$small = 0.9375rem
$medium = 1rem
$large = 1.875rem

$base-color = rgba(24,24,24,1)
$highlight-color = rgba(200,20,20,1)
$third-color = rgba(255,255,255,1)
$subtle-color = rgba(15,15,15,1)
$subtle-overlay = rgba(24,24,24,.8)
$warning-color = rgba(189,46,36,1)
$emphasis-color = rgba(35,35,35,1)
$info-color = green
$brand-color = rgba(34, 103, 100, 1)
$black-color = rgba(0,0,0,1)
$black-overlay = rgba(0,0,0,0.8)
$material = 0 2px 4px 2px rgba(0,0,0,0.15)
$transparent = rgba(0,0,0,0) !important

$top-position = 2147483652 !important