
@{

}



<div class="diagnosis_wizard">
    <div class="questions">
        <table class="questions_table">
            <tr>
                <td class="question">Do you have a sore throat?</td>
            </tr>
            <tr>
                <td class="yes_or_no_row">
                    <button class="btn yes">YES</button>
                    <button class="btn no">NO</button>
                </td>
            </tr>
        </table>
    </div><div class="possible_diagnosis">
        <table class="diagnosis_table">
            <tr>
                <td class="possible_diagnosis_query">Possible Diagnosis:</td>
            </tr>
            <tr>
                <td class="empty_row"></td>
            </tr>
            <tr>
                <td class="diagnosis">
                    cold------80%
                </td>
            </tr>
        </table>
    </div>
</div>