@{



}
<style>
    h1 {
        text-align: center;
        padding: 10px;
        font-family: "Arial Black", sans-serif;
    }

    table, th, td {
    }

    th, td {
        padding: 15px;
    }

    th {
        font-style: oblique;
    }

    td {
        vertical-align: top;
    }

    #homepage {
        background-color: rgb(162, 183, 250);
    }

    #table {
        width: 90%;
        border-top: 1px solid black;
        margin-left: auto;
        margin-right: auto;
        font-family: "Arial Black", sans-serif;
    }

    #first_column {
        width: 30%;
    }

</style>

<div id="homepage">
    <h1>
        HRAS's Main Navigation
    </h1>

    <table id="table">
        <tr>
            <th id="first_column">Page</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>SEARCH</td>
            <td>The Search page has a search bar that can be used to search for a patient in the system. Searching for a patient is possible by the patient's name, room number or SSN. If the patient's account is found in the system, the Search page will return the demographic information of the patient.</td>
        </tr>
        <tr>
            <td>CHECK IN</td>
            <td>The Check In page has a search bar in order to search a patient by the patient's name or SSN. If patient found, the page will show their demographic information. The user can assign a room to the patient by clicking "Assign a Room" button on the same page.</td>
        </tr>
        <tr>
            <td>DIAGNOSIS WIZARD</td>
            <td>The Diagnosis Wizard page has medical questions displayed and two possible answer choices: "Yes" and "No". It will display a possible diagnosis every time a question is answered.</td>
        </tr>
        <tr>
            <td>INVENTORY</td>
            <td>The Inventory page displays the inventory items in the storage, their stocking ID, the quantity and the cost per item.</td>
        </tr>
    </table>

</div>





